<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harusame.template.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.harusame.template.domain.pojo.Category">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="imageIds" column="image_ids" jdbcType="JAVA_OBJECT"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result property="categoryType" column="category_type" jdbcType="TINYINT"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,image_ids,
        category_type,user_id,create_time,
        update_time,create_user,update_user
    </sql>
    <update id="updateRelationShip">
        update t_category
        set image_ids=case
                          when json_contains(image_ids, cast(#{image_id} as char)) = 0 then
                              json_array_append(image_ids, '$', #{image_id})
                          else image_ids end
        where id = #{category_id}
          and user_id = #{user_id}
    </update>
<!--        update t_category
        set image_ids=if(json_contains(image_ids, CAST(#{image_id} as char)),
                         json_remove(image_ids, CAST(#{image_id} as char)),
                         json_array_append(image_ids, '$', CAST(#{image_id} as char)))
        where id = #{category_id}
          and user_id = #{user_id}-->

    <select id="selectImageList" resultType="com.harusame.template.domain.vo.ImageVo">
        select mt.id, mt.img_name, mt.big_img_full_path, mt.small_img_full_path
        from t_category ct
                 join t_img mt on json_contains(ct.image_ids, CAST(mt.id as char))
        where ct.id = #{category_id}
          and ct.user_id = #{user_id};
    </select>
</mapper>
